LLMOBS_ENVIRONMENT=local
LLMOBS_LOG_LEVEL=INFO
LLMOBS_LOG_JSON=false
LLMOBS_DEVICE=auto
LLMOBS_DEFAULT_MODEL=gpt2
LLMOBS_SEED=42
LLMOBS_MAX_NEW_TOKENS=64
LLMOBS_BATCH_SIZE=8
LLMOBS_ARTIFACTS_DIR=artifacts
